
body .profiles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    gap: 30px;
}
.userCard{
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    font-size: 30px;
    border-radius: 100px;
    border: solid 1px black;
}

.userCard:hover{
    transition: 0.3s;
    transform: scale(1.2);
    cursor: pointer;
}

.highLevel{
    background-color: #748ffc;
}

.normalUser{
    background-color: #63e6be;
}

.normalAdmin{
    background-color: #ffe066;
}