@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
}

header{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    -webkit-box-shadow: -5px 47px 88px -27px rgba(0,0,0,0.52);
    -moz-box-shadow: -5px 47px 88px -27px rgba(0,0,0,0.52);
    box-shadow: -5px 47px 88px -27px rgba(0,0,0,0.52);
}
header nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.allTasks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
main{
    display: flex;
    flex-direction: column;
}
.tasks{
    display: flex;
    background-color: white;
    -webkit-box-shadow: -5px 47px 88px -50px rgba(0,0,0,0.52);
    -moz-box-shadow: -5px 47px 88px -50px rgba(0,0,0,0.52);
    box-shadow: -5px 47px 88px -50px rgba(0,0,0,0.52);
    border-radius: 10px;
    flex-direction: column;
    width: 700px;
    height: 100%;
    gap: 20px;
    padding: 30px 50px;
}

.title{
    padding: 0;
    margin: 20px 10px;
    font-family:'Quicksand', sans-serif;;
    font-size: 30px;
    font-weight: bold;
}

.search{
    width: 350px;
    height: 42px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #F1F3F5;
    padding-left: 15px;
    font-size: 22px;
}

.searchTable{
    display: flex;
    align-items: center;
}
.searchBtn{
    font-size: 20px;
    margin-left: 10px;
    width: 150px;
    height: 30px;
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    cursor: pointer;
}

.searchBtn:active{
    background-color: black;
    color: white;
}

#headTitle{
    color: #3B5BDB;
}

.listItem{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 6px;
    background-color: #F1F3F5;
    list-style: none;
    width: 98%;
    height: 60px;
}

.adicionar{
    margin-top: 50px;
    background-color: white;
    -webkit-box-shadow: -5px 47px 88px -50px rgba(0,0,0,0.52);
    -moz-box-shadow: -5px 47px 88px -50px rgba(0,0,0,0.52);
    box-shadow: -5px 47px 88px -50px rgba(0,0,0,0.52);
    border-radius: 10px;
    width: 700px;
    height: 100%;
    padding: 20px;
}

.adicionar .novoItem{
    margin-top: 30px;
    font-size: 26px;
    font-weight: lighter;
    padding-left: 30px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #F1F3F5;
    border: solid 1px transparent;
}

.adicionar .tipo{
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 20px;
    font-size: 26px;
    padding-left: 15px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #F1F3F5;
    border: solid 1px transparent;
    cursor: pointer;
}
    #uniqueButton{
        display: flex;
        justify-content: center;
        background-color: white;
        -webkit-box-shadow: -5px 47px 88px -50px rgba(0,0,0,0.52);
        -moz-box-shadow: -5px 47px 88px -50px rgba(0,0,0,0.52);
        box-shadow: -5px 47px 88px -50px rgba(0,0,0,0.52);
        border-radius: 10px;
        width: 700px;
        height: 100%;
        padding: 20px;
    }
#uniqueButton .addItem{
    font-size: 20px;
    color: white;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background-color: #3B5BDB;
    border:solid 1px transparent;
    cursor: pointer;
}
#uniqueButton .addItem:active{
    background-color: white;
    color: black;
    border: solid 1px black;
}
li{
    display: flex;
    justify-content: space-between;
}

.redBtn{
    padding: 0;
    text-align: center;
    color: white;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    background-color: red;
    border-radius: 100%;
    cursor: pointer;
}
.redBtn:active{
    color: black;
    border: solid 1px black;
    background-color: white;
}
